{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">      
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'polls/css/materialize.min.css' %}" type="text/css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
<script src="{% static 'polls/js/materialize.min.js' %}"> </script>
<script type="text/javascript">
    $(document).ready(function() {
    $('.test_class').click(function(ev){
    					ev.preventDefault();
    					var id =  $(this).attr("data-questionid");
    					var frm = $( '[data-formname="' + id + '"]' );
                        $.ajax({
                                type       : "POST",
                                url        : "http://localhost:8000/polls/" + id + "/vote/" + 'message' + "/", 
                                data       :  frm.serialize(), 
                                dataType    : 'json', 
                                success      : function(data) { 
                                                window.location.href = data.redirect; }
                    });
        });
    });
</script>
</head>
<body>
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="row">
<form  class="column s12" data-formname="{{question.id}}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
    <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<button class='btn waves-effect waves-light test_class' data-questionid="{{question.id}}" type="submit" value="Submit">Submit
<i class="material-icons right">send</i>
</button>
</form>
</div>
</body>
</html>

